<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/d5d1d087-d215-436e-a745-f3e87c400851/resourcegroups/huutam-gr/providers/Microsoft.ContainerRegistry/registries/ProductManagement20240814100046</ContainerResourceId>
    <ContainerResourceName>ProductManagement20240814100046</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>productmanagement20240814100046.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>productmanagement</ContainerName>
    <EnvironmentName>ProductManagement-env-20240814092626</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://productmanagement-app-2024081409.wonderfulrock-ac21246b.southeastasia.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d5d1d087-d215-436e-a745-f3e87c400851/resourceGroups/huutam-gr/providers/Microsoft.App/containerApps/productmanagement-app-2024081409</ResourceId>
    <ResourceGroup>huutam-gr</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>